/* color palette from <https://github.com/vuejs/theme> */

/*
  CSS to make home take up large middle section
*/
@media only screen and (min-width: 750px) and (max-width: 1440px) {
  :root {
    --home-height: calc(100% - var(--header-height) - 4rem);
    --header-height: 4rem;
  }
}

/*
  CSS to make home take up medium sized middle section
*/
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  :root {
    --home-height: calc(100% - var(--header-height) - 4rem);
    --header-height: 5rem;
  }
}

/*
  CSS to make home take up smaller middle section
*/
@media only screen and (min-width: 1921px) {
  :root {
    --home-height: calc(100% - var(--header-height) - 4rem);
    --header-height: 5rem;
  }
}

/*
  CSS to have vertical layout for small screen sizes
*/
@media only screen and (max-width: 749px) {
  :root {
    --header-height: 2.5rem;
    --home-height: calc(170% - var(--header-height));
  }
}

/*
 Reduce PDF viewer size further as screen size reduces
*/
@media only screen and (max-width: 575px) {
  :root {
    --home-height: calc(180% - var(--header-height));
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
