@import './base.css';

button:hover {
  cursor: pointer;
}

textarea {
  min-height: 1.8rem;
}


/* 
    Setting CSS for custom scroll bar
*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}